li {
  border: 1px solid orange;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 6px;
  padding: 0.1rem 0.5rem;

  > p {
    &.name {
      font-weight: bold;
    }
  }
}