.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 8px;

  & div {
    /* border: 1px solid blue; */
    flex-direction: column;
    text-align: center;
    width: 100%;
    > div{
      margin: 3rem 0;
    }
    & ul{
      display: flex;
      flex-direction: column;
      padding: 0%;
    }
  }
}


