.App {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  & div {
    border: 1px solid blue;
    flex-direction: column;
    text-align: center;
    width: 100%;

  }
}


